<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chujie.framework.demo1.ddct.mapper.BaseDdctMapper">

    <select id="selectPageEntity" resultType="com.chujie.framework.demo1.ddct.entity.BaseDdct">
        select * from base_ddct
    </select>
</mapper>
